/* 写公共的样式 比如网页的头部与尾部 */
/* 模仿京东的方式 */
.w {
    width: 1240px;
    margin: 0 auto;

}

/* 网页的头部 */
/* /1.1快捷导航部分  */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut li a {
    color: #999;
    font-size: 14px;
}

.shortcut li a:hover {
    color: #5EB69C;
}

.shortcut ul {
    display: flex;
    justify-content: flex-end;
    /* 如果只有下面的这行代码是居中不了的，因为没有指定高度*/
    align-items: center;
    height: 52px;
}

.shortcut .line {
    width: 1px;
    height: 12px;
    background-color: #999;
    margin: 0 15px;

}

.shortcut li i {
    font-size: 18px;
    margin-right: 4px;
}

.shortcut li:nth-child(1) a {
    color: #5EB69C;
}

/* 1.2 header部分制作 */
.header {
    height: 132px;
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 200px;
    height: 88px;
    background: skyblue;
}

.header .logo h1 {
    width: 100%;
    height: 100%;
}

.header .logo h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

.nav {
    display: flex;
    gap: 48px;

}

.nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #5EB69C;
}

.nav li a:hover {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

.search {
    position: relative;
}

.search input {
    width: 170px;
    height: 40px;
    padding-left: 28px;
    font-size: 16px;
    border-bottom: 2px solid #5EB69C;
}

.search i {
    font-size: 24px;
    color: #ccc;
    /* 子绝对父想对 */
    position: absolute;
    top: 9%;
    left: 0%;
}

/* 修改搜一搜的的特征 */
.search input::placeholder {
    font-size: 16px;
    color: #ccc;
}

.car {
    position: relative;
}

.car i {
    font-size: 40px;
    margin-right: 15px;
    /* border-bottom: 2px solid #5EB69C; */

}

.car span {
    font-size: 16px;
    background-color: red;
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: px;
    left: 20px;
}

/* 网页的尾部 */
.footer {
    height: 580px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;

}

.slogan {
    height: 178px;
    border-bottom: 1px solid #e8e8e8;
}

.slogan ul {
    display: flex;
    /* 平均分配 */
    justify-content: space-evenly;
    height: 178px;
    align-items: center;

}

.slogan ul li {
    display: flex;
    align-items: center;

}

.slogan ul li h5 {
    width: 58px;
    height: 58px;
    background-color: pink;
    background: url(../images/sprite.png) no-repeat;

}

.slogan ul li p {
    font-size: 28px;
    margin-left: 20px;
}

.slogan ul li .two {
    background-position: 0 -58px;
}

.slogan ul li .three {
    background-position: 0 -116px;
}

.slogan ul li .four {
    background-position: 0 -174px;
}

.server {
    height: 300px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    align-items: center;
}

/* 调整列表之间的间距 */
.server-left {
    display: flex;
    gap: 80px;
}

.server-left dt {
    font-size: 18px;
    margin-bottom: 30px;
}

.server-left dd a {

    color: #969696;
}

.server-left dd a:hover {
    color: #5EB69C;
}

.server-left dd {
    margin-bottom: 10px;
}

.server-left dd a i {
    color: #00BE9A;
    font-size: 20px;
}

.server-right {
    display: flex;
    gap: 84px;
}

.server-right ul {
    display: flex;
    align-items: center;
    text-align: center;
}

.server-right ul li {
    margin-left: 55px;
    color: #969696;
}

.server-right ul li p {
    margin-top: 10px;
    margin-bottom: 30px;
}

.copyright {
    text-align: center;
    margin-top: 100px;
    line-height: 30px;
    color: #A1A1A1;
}

.copyright a {
    color: #A1A1A1;
}